@page "/create"
@inject HttpClient Http
@inject NavigationManager NavManager
@inject ILogger<WebApp.Client.Pages.Emp.EmpCreate> logger

<h3>Employee Create</h3>

<EmpForm ButtonText="SAVE" OnValidSubmit="@AddNew" EmpObj="@Employee"></EmpForm>

@code {

    public Employee Employee { get; set; } = new Employee();
    protected async Task AddNew()
    {
        var res = await Http.PostAsJsonAsync("emp", Employee);
        if (res.StatusCode == System.Net.HttpStatusCode.OK)
        {
            NavManager.NavigateTo("/employeelist");
        }
    }


}
