@page "/DeptCreate"
@using WebApp.Shared
@using WebApp.Shared.Models
@inject HttpClient Http
@inject ILogger<WebApp.Client.Pages.Index> logger
@inject NavigationManager NavManager
<h3>Dept Create</h3>
 <NavLink href="deptlist" >Department List</NavLink><br /><br />

<DeptForm ButtonText="Add" OnValidSubmit="@AddNew" deptObj="@deptObj"></DeptForm>

@code {
    private Department deptObj = new() { DepartmentId=0 };
    protected async Task AddNew()
    {
        logger.LogInformation("click add button for dept...");
        HttpResponseMessage res=  await Http.PostAsJsonAsync("emp/RegDept", deptObj);       
        if (res.StatusCode == System.Net.HttpStatusCode.OK)
        {
            NavManager.NavigateTo("/deptlist");
        }
    }
}
